@import url(https://fonts.googleapis.com/css?family=Megrim:regular);
@import url(https://fonts.googleapis.com/css?family=Yrsa:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	color: #222;
}

h1,
h2,
h3 {
	font-family: "Yrsa";
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* Navbar */

nav {
	position: fixed;
	background-color: #222;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.3s ease-in-out;
}

nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	transition: all 0.3s ease-in-out;
}

nav .logo {
	font-family: "Megrim";
	font-size: 18px;
}

nav ul {
	display: flex;
	list-style-type: none;
	align-items: center;
	justify-content: center;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 7px 15px;
	transition: all 0.3s ease-in-out;
}

nav.active {
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

nav.active a {
	color: #000;
}

nav.active .container {
	padding: 10px 0;
}

nav a:hover {
	text-shadow: 2px 0px 10px rgba(255, 255, 255, 0.8);
}

/* Language */
.lang-switch {
	margin-right: 15px;
}

.lang-switch button {
	font-family: inherit;
	border: none;
	border-radius: 2px;
	margin: auto 3px;
	padding: 3px 5px;
	min-width: 30px;
	opacity: 0.3;
	transition: all 0.5s;
}

.lang-switch button:hover {
	cursor: pointer;
	opacity: 1;
	font-weight: 700;
}

.fr_lang,
.en_lang {
	transition: display 0.5s;
}

.inactive-lang {
	display: none !important;
	transition: display 0.5s;
}

.active-button {
	transition: all 0.5s;
	opacity: 1 !important;
	font-weight: 700;
}

/* Hero */
.hero {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* Sections */
section {
	padding: 70px 25px 20px;
	min-height: calc(100vh - 45px);
}

section p {
	padding-bottom: 15px;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.project {
	margin: 10px;
	max-width: 300px;
}

/* Footer */
footer {
	background-color: #222;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 45px;
	padding: 5px 20px;
	font-size: 14px;
}

footer .links {
	width: 100px;
	display: flex;
	justify-content: space-between;
}

.links i {
	font-size: 20px;
	color: #fff;
}
