/* General */
section {
	padding: 25px 25px 0 25px;
}

section#contact {
	padding-top: 70px;
	padding-bottom: 50px;
}

section h2 {
	margin-bottom: 30px;
}

nav .logo-area {
	color: #f3f3f3;
}

nav .logo-area a {
	text-decoration: none;
	cursor: pointer;
}

nav.active .logo-area {
	color: var(--color-1);
}

nav a span.label {
	font-family: "Dosis", sans-serif;
	font-size: 13px;
	letter-spacing: 2px;
	background-color: var(--color-2);
	padding: 2px 4px 2px 6px;
	font-weight: 400;
	color: #f3f3f3;
	text-decoration: none;
}

/* Hero */
.branding {
	background: linear-gradient(0.25turn, #ddd, #f3f3f3, #ddd);
	height: 80vh;
	font-family: "Dosis", sans-serif;
	text-align: center;
	font-weight: 300;
}

.branding p.baseline {
	font-size: 20px;
	letter-spacing: 2px;
	margin-top: 55px;
}

.branding p.baseline span {
	color: var(--color-2);
	background: none;
	font-weight: 300;
}

.branding div {
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.branding img {
	width: 500px;
	max-width: 100%;
	height: auto;
	padding-top: 50px;
	padding-right: 50px;
}

.branding h1 {
	font-size: 46px;
	margin: 0 50px 25px 0;
	font-weight: 200;
}

/* Offer */
.offer {
	text-align: center;
	background: linear-gradient(
		0.15turn,
		#f3f3f3,
		#fff,
		#f3f3f3,
		#f3f3f3,
		#fff,
		#f3f3f3
	);
	border-radius: 12px;
	padding: 25px;
	margin: 0;
}

.offer h3 {
	font-size: 28px;
	font-weight: 300;
}

.offer ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	justify-content: center;
}

.offer li {
	flex: 1 0 50%;
	margin: 15px 60px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 410px;
}

.offer div.img-block {
	width: 200px;
	height: 200px;
	border: #ddd 1px solid;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	margin: 10px 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.offer img.img-websites {
	width: 75%;
	height: 75%;
}

.offer p {
	font-size: 14px;
	line-height: 22px;
}

.offer.offer-extra li {
	min-width: 300px;
	position: relative;
	padding-left: 50px;
}

.offer.offer-extra li img {
	max-width: 300px;
}

.offer.offer-extra li i {
	color: var(--color-2);
	position: absolute;
	font-size: 80px;
	opacity: 0.1;
	left: 0;
	top: 40px;
}

.questions {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}

.questions .quote {
	max-height: 100vh;
}

.questions .faq-container {
	flex: 3;
	background: linear-gradient(0.25turn, #f3f3f3, #fff, #f3f3f3);
	margin: 0 25px;
	padding: 25px;
	border-radius: 12px;
}

.questions .faq-question {
	position: relative;
	padding-right: 50px;
	font-size: 14px;
}

.chevron-down {
	position: absolute;
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	right: 0;
	border-radius: 50%;
	top: 10%;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.chevron-down:hover {
	scale: 1.2;
}

.chevron-down.open {
	transform: rotate(180deg);
}

.faq-text {
	display: none;
	font-size: 13px;
	line-height: 24px;
	padding: 0 30px 0 15px;
	border-left: var(--color-2) solid 2px;
	margin-bottom: 30px;
	overflow: hidden;
	transition: height 0.3s ease-in-out;
	height: 0;
}

.faq-text.show {
	display: block;
	height: auto;
}

.questions div.quote {
	flex: 1;
	text-align: center;
}

.questions .quote .reason {
	display: inline-block;
	background-color: #fff;
	color: var(--color-2);
	font-size: 18px;
	font-weight: 800;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-top: 20px;
}

div.go-down {
	position: relative;
	padding-bottom: 20px;
}

div.go-down i {
	background-color: var(--color-2);
	color: #fff;
	padding: 10px;
	border-radius: 50%;
	position: absolute;
	/* top: -50px; */
	left: 50%;
	transform: translate(-50%, -50%);
}

.contact-cta {
	text-align: center;
	padding: 45px 15px 60px;
	text-align: center;
}

.contact-cta p {
	display: inline-block;
	max-width: 70%;
	line-height: 24px;
}

.contact-cta .contact-cta-subtitle {
	position: relative;
}

.contact-cta small {
	font-size: 12px;
}

#contact .legal {
	margin-top: 40px;
	color: #222;
	font-size: 12px;
}

#contact .legal a {
	color: inherit;
}

#contact .legal a:hover {
	text-decoration: none;
}

@media (max-width: 768px) {
	nav.active {
		height: auto;
	}

	.branding {
		height: 85vh;
	}

	.branding p.baseline {
		font-size: 16px;
	}

	.branding div {
		flex-direction: column-reverse;
		justify-content: space-evenly;
		padding-bottom: 40px;
	}

	.branding div img {
		padding: 0;
		width: 60%;
	}

	.branding div h1 {
		margin: 0 40px;
	}

	.offer ul {
		margin-top: 30px;
	}

	.offer li {
		margin: 20px 10px;
	}

	.offer img.img-websites {
		margin: none;
	}

	.offer.offer-extra li {
		min-width: 90%;
		margin-top: 30px;
		padding-left: 0;
	}

	.offer.offer-extra li i {
		position: absolute;
		font-size: 35px;
		opacity: 0.1;
		top: -25px;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.contact-cta p {
		padding: 0;
	}

	.contact-cta small {
		font-size: 10px;
		display: block;
		width: 80%;
		margin: 0 auto;
	}

	.quote,
	.text,
	.faq-container {
		min-width: 100%;
		margin: 30px auto;
	}

	.questions .faq-container {
		margin: 0 auto;
	}

	.questions p.faq-question {
		line-height: 24px;
	}

	.questions p.faq-question span {
		line-height: 28px;
	}

	.questions .faq-text {
		padding-right: 0px;
		font-size: 13px;
		line-height: 22px;
	}
}

@media (max-width: 390px) {
	.branding div h1 {
		margin: 0 20px;
		font-size: 40px;
		line-height: 46px;
	}
}

@media (max-width: 340px) {
	nav .logo-area a span.label {
		display: none;
	}
}

@media (max-height: 500px) {
	.branding img {
		display: none;
	}
}
