/* Services */
section {
	padding: 50px 25px;
}

.services.branding {
	background: linear-gradient(0.25turn, #ddd, #f3f3f3, #ddd);
	height: 80vh;
	font-family: "Dosis", sans-serif;
	text-align: center;
	font-weight: 300;
}

.services.branding p.baseline {
	font-size: 20px;
	letter-spacing: 2px;
	margin-top: 35px;
}

.services.branding p.baseline span {
	color: var(--color-2);
	background: none;
	font-weight: 300;
}

.services.branding div {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.services.branding img {
	width: 500px;
	max-width: 100%;
	height: auto;
	padding-top: 50px;
	padding-right: 50px;
}

.services.branding h1 {
	font-size: 46px;
	margin: 0 50px 25px 0;
	font-weight: 200;
}

.services .quote {
	background-color: var(--color-2);
	color: #fff;
	border-radius: 12px;
	padding: 25px;
}

.services .quote p {
	font-size: 14px;
	line-height: 22px;
	padding: 10px 0;
}

.services .quote .subtitle {
	font-weight: bold;
	font-size: 24px;
	font-family: "Dosis";
}

.services.expertise {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.services.expertise div.text {
	flex: 3;
	padding-right: 30px;
}

.services.expertise div.text img {
	max-width: 260px;
	float: left;
	margin: 20px 20px 20px 0;
}

.services.expertise div.quote {
	flex: 1;
}

.services.expertise ul {
	padding: 0 50px;
}

.services.expertise li {
	margin: 10px 0;
}

.services.expertise li::marker {
	color: var(--color-2);
}

.services.expertise .quote img {
	width: 100px;
	height: 100px;
	float: right;
	margin: -100px 0 10px 10px;
	border-radius: 50%;
}

.services .offer {
	text-align: center;
	background: linear-gradient(
		0.15turn,
		#f3f3f3,
		#fff,
		#f3f3f3,
		#f3f3f3,
		#fff,
		#f3f3f3
	);
	border-radius: 12px;
	padding: 25px;
	margin: 50px 0 0 0;
}

.services .offer h3 {
	font-size: 28px;
	font-weight: 300;
}

.services .offer ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
}

.services .offer li {
	flex: 1;
	margin: 30px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 320px;
}

.services .offer div.img-block {
	width: 210px;
	height: 210px;
	border: #ddd 1px solid;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	margin: 10px 0;
}

.services .offer img.img-websites {
	width: 70%;
	height: 70%;
	transform: translateY(10%);
}

.services .offer p {
	font-size: 14px;
	line-height: 22px;
}

.services .offer li.offer-plus {
	min-width: 300px;
	position: relative;
}

.services .offer li.offer-plus img {
	max-width: 300px;
}

.services .offer li i {
	color: var(--color-2);
	position: absolute;
	font-size: 100px;
	opacity: 0.1;
	left: 0;
	bottom: 20px;
}

.services .offer ul img {
	width: 300px;
}

.services .contact-cta {
	text-align: center;
}

.services .contact-cta .contact-cta-subtitle {
	position: relative;
	padding-top: 50px;
}

.services .contact-cta .contact-cta-subtitle i {
	background-color: var(--color-2);
	color: #fff;
	padding: 10px;
	border-radius: 50%;
	position: absolute;
	top: -0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.services .contact-cta small {
	font-size: 12px;
}

.services .questions {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}
.services .questions div.faq-container {
	flex: 3;
	background: linear-gradient(0.25turn, #f3f3f3, #fff, #f3f3f3);
	margin: 0 25px;
	padding: 25px;
	border-radius: 12px;
}

.services .questions div.quote {
	flex: 1;
	text-align: center;
}

.services .questions .quote .reason {
	display: inline-block;
	background-color: #fff;
	color: var(--color-2);
	font-size: 18px;
	font-weight: 800;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-top: 20px;
}

.faq-text {
	display: none;
}

@media (max-width: 768px) {
	nav.active {
		height: auto;
	}

	.services.branding div {
		height: 80%;
	}

	.services.branding img {
		display: none;
	}

	.services.branding h1 {
		margin: 0 20px;
	}
	.services.expertise div.text {
		padding-right: 0;
	}
	.services.expertise div.text img {
		float: none;
	}

	.services.expertise div.text p {
		padding-bottom: 10px;
		padding-left: 10px;
	}

	.services.expertise ul {
		font-size: 14px;
		padding: 0 0 0 25px;
	}

	.services .offer li {
		margin: 30px 10px;
	}

	.services .offer li.offer-plus {
		min-width: 100%;
	}

	.services .offer ul img {
		width: 100%;
		margin-bottom: 40px;
	}

	.services .contact-cta p {
		padding: 0;
	}

	.services .contact-cta small {
		font-size: 10px;
		display: block;
		width: 80%;
		margin: 0 auto 80px;
	}

	.quote,
	.text,
	.faq-container {
		min-width: 100%;
		margin: 30px auto;
	}
}
